[2017-02-10 21:57] mreq opened #1 "Add License"

[2017-02-10 22:04] psykzz commented on #1
Added an MIT license

[2017-02-10 22:04] #1 closed

[2017-02-17 21:36] ahmedam55 opened #3 "Feature request: copy commit id or copy git show commit_id"
Thanks for your time and effort creating that awesome package.

I'd be cool if I can copy the commit id and even cooler if I can by click copy a whole git command like: `gitk commit_id` or `git show commit_id`

[2017-02-18 00:00] psykzz commented on #3
Seems reasonable, I think just copying the sha should be ideal then you can use it with `git diff` and other commands.

Would that also work for you?

[2017-02-18 00:22] psykzz commented on #3
@ahmedam55 Can you check out the PR and let me know if that works for you?

[2017-02-20 19:05] #3 closed

[2017-03-08 13:56] Gaurav2728 opened #5 "change highlighter color (feature)"
hi,

I am using git blame plugin with sublime text 3 and Primer.lighter Theme
https://packagecontrol.io/packages/Theme%20-%20Primer

when i use `git blame` the UI (commit) highlighter is horrible and can't view
![screen shot 2017-03-08 at 7 22 55 pm](https://cloud.githubusercontent.com/assets/1284716/23706639/083403ee-0435-11e7-86b0-14c039249248.png)

there is any way can i change highlighter text

[2017-03-08 14:01] psykzz commented on #5
Oh yeah I see, i'll see if i can add a setting to flip the colours to a lighter theme instead.

Do you have a preference on colours that would work for you?

[2017-03-08 14:23] Gaurav2728 commented on #5
@psykzz  my sublime text 3 settings are:
[code]
It's light theme so you can chose any standard colour for light theme.
But i think colours should have some configuration option so it can be change according to theme.
👍  for `i'll see if i can add a setting to flip the colours to a lighter theme instead.`

[2017-03-08 15:21] psykzz commented on #5
@Gaurav2728 can you check #6 let me know what you think? I'll merge and release and you should see the change soon(tm)

[2017-03-09 08:38] #5 closed

[2017-05-10 00:09] brendon commented on #3
That's a great feature. I had to come here because I was confused that the blame just disappeared after I clicked the sha. What do you think about displaying 'Copied!' at the end and not hiding the blame. Kind of like how the github URL copier works.

[2017-05-10 00:11] psykzz commented on #3
Can you create a new issue for it so I can track it ?

[2017-05-10 00:52] brendon opened #7 "Display notification when blame SHA has been copied"
I was confused that the blame just disappeared after I clicked the SHA. What do you think about displaying 'Copied!' at the end and not hiding the blame. Kind of like how the github URL copier works.

[2017-06-07 15:33] psykzz commented on #7
Really like the idea, i just haven't had time to prioritize the work.
I'll add help-needed incase someone wants to help.

[2017-06-07 21:37] brendon commented on #7
That's all good man. I've never used python before unfortunately and don't really have time to learn the ropes. I've already committed to learning some lua for another OS project :) Sorry I couldn't be of more help :)

[2017-07-20 09:46] braver commented on #7
@brendon could you point me to the package for the "github URL copier"? It helps to have an example.

[2017-07-20 22:32] #7 closed

[2017-07-25 22:43] brendon commented on #7
Thanks @braver! Sorry I was away overseas but I see you found it :D

[2017-10-18 19:28] Tardog opened #15 "Show blame for multiple lines"
First, thank you for creating this handy plugin. I think it does its job very well already, but there is one feature I would really like to see: The ability to display blame information for more than one line.

Possible use cases:

* I want to display complete blame information for the current file, in order to get a quick overview on code history.
* I’m interested in who was the last one to touch

[2017-10-29 04:32] gh640 commented on #15
I also want the multi-line function. I tried to make a PR :)

[2017-11-07 11:18] #15 closed

[2017-11-16 01:23] brentswisher opened #17 "When calling from the same selection, hide the current blame"
First, thanks again for writing this, I had to go through a bunch of old code today and this made it way easier to see who/when things were added. The only thing I thought would be nice is if I could use the keyboard shortcut to toggle hiding the blame once I had read it. I took a shot at making the change myself, and it seems to be working for me. Its pretty much the first python I've ever writte

[2017-11-17 10:08] frou opened #19 "BlameEraseAllCommand is run upon every keystroke in every view"
This cannot be good for efficiency...!

[2017-11-17 10:44] frou commented on #19
Ideally the `ViewEventListener` would only be attached during the time that the "all blame" phantoms are being shown?

cc @gh640

[2017-11-17 11:01] gh640 commented on #19
@frou thank you for sharing the issue! I'll investigate it when I have a time.

[2017-11-17 13:34] gh640 commented on #19
@frou Surely `BlameEraseAllCommand` is run on every change to view...

I tried introducing a new setting to views to make the command run only when "all blame" phantoms are displayed. I took this approach because it seems that we don't have a way to attach a `ViewEventListener` conditionally.

If possible, I'd like you to check the following PR:

https://github.com/psykzz/st3-gitblame/pull/20

Tha

[2017-11-17 14:21] frou commented on #19
Greetings Hayato

Intuitively, this situation where code is run upon every keystroke in every view simply seems too heavyweight, regardless of whether that code early-outs (BlameEraseAllListener.on_modified)

Personally I don't know much about the Sublime API, but surely we can somehow find a way to make this fully conditional.

[2017-11-18 08:34] gh640 commented on #19
Hello Duncan.

Yeah, it's better to avoid unnecessary hook invocation if possible.

I don't think it's possible to make it fully conditional but the previous PR could be improved. I added a new commit :)

If you have a better idea, don't hesitate to go ahead beyond this PR!

[2017-11-20 10:54] frou commented on #19
Great - thanks!

[2017-11-20 11:39] gh640 commented on #19
@frou Thank you, too!

@psykzz I'd like you to review the PR https://github.com/psykzz/st3-gitblame/pull/20 . This should bring a better performance for all GitBlame users :)

[2017-11-20 19:06] psykzz commented on #17
Thanks, will release this in the next release!

[2017-11-20 19:06] #17 closed

[2017-11-20 19:07] psykzz commented on #19
Thanks for the work here guys, merged the PR and will release in a moment.

[2017-11-20 19:07] #19 closed

[2017-11-21 12:15] gh640 commented on #19
@psykzz thank you so much!

[2018-01-05 14:10] jonasc opened #21 "Add possibility to use options `-C` and `-M` for `git blame`"
As the [man page](https://linux.die.net/man/1/git-blame) states, `-C` is used to correctly blame lines of code that have been moved between two files.
Note that `-C` can be given up to three times.
The same way with `-M` code that has been moved inside a file can be correctly blamed.

I can see two options to do this:
Either add a configuration option to enable/disable this (e.g. an option to add

[2018-01-06 17:52] psykzz commented on #21
I think this is a good addition, but im not sure on where it should exist.
As you said, we have a few options:
- configuration settings
- additional keybinds
- context menus.

Unfortunately, i've not really used `-C` or `-M` when doing git blame, but would you know if having them enabled by default would lead to any issues?

[2018-05-10 07:46] jbrooksuk opened #24 "GitLens like functionality"
It'd be good if st3-gitblame could act similar to [GitLens](https://gitlens.amod.io) where it shows automatically for whichever line you're on.

You could also mimic some more of their functionality to show blames for different sections of code.

[2018-05-11 19:32] psykzz commented on #24
I've never used gitlens could you give some examples? Screenshots or link to images that explain what you mean specifically?

[2018-05-12 00:27] maulikfojdar opened #25 "Git blame not working on Sublime Text 3"
I get an error while using git blame in sublime.

`Git blame: git error 128:
fatal: no such ref: HEAD`

[2018-05-13 20:39] psykzz commented on #25
Could you give some more details?
What happens if you run something like `git status` in the repo root?

[2018-05-14 01:01] maulikfojdar commented on #25
git status gives me this:

[code]

[2018-05-18 02:36] pvanb commented on #24
The line the cursor is on gets a blame annotation at the end of the line (will scroll horizontally if it doesn't fit):

<img width="1113" alt="screen shot 2018-05-17 at 10 25 13 pm" src="https://user-images.githubusercontent.com/823278/40213143-ed09d0b4-5a21-11e8-98be-3be4bb3a8d8e.png">

When hovering over the blame annotation a popup with more detail is shown:

<img width="1110" alt="screen shot

[2018-05-18 03:04] pvanb commented on #24
Here it is in action...

![may-17-2018 22-56-32](https://user-images.githubusercontent.com/823278/40214008-7c926d28-5a26-11e8-8221-1e4e8a7415ed.gif)

[2018-05-18 07:01] jbrooksuk commented on #24
Thanks @pvanb I've not had time to do this.

[2018-05-19 20:27] pvanb commented on #24
I played with this a little bit and I'm not so sure it's going to be possible. On non-blank lines using ``sublime.LAYOUT_INLINE`` for the Phantoms is fine, but on blank lines they get added before the cursor instead of after.

From the documentation:

On blank lines I guess there is effectively no region, so it gets added between the end of the previous line and the cursor? Here's a code snippet o

[2018-05-19 20:33] jbrooksuk commented on #24
@wbond any ideas?

[2018-05-19 20:42] jbrooksuk commented on #24
Could you not create a region manually?

[2018-05-19 22:33] pvanb commented on #24
My understanding of regions is that they're based on the contents of the buffer, so I don't think you can create one outside of the bounds of the content (i.e. beyond the cursor on a blank line.) In my attempts to do so (e.g. ``line.end() + 1``) the phantom ends up on the next line.

Hopefully I'm wrong and I'm missing something. Today was literally my first time writing Sublime plugins.

[2018-05-21 18:50] psykzz commented on #25
Looking into this a little it looks like it may be related to this issue. https://stackoverflow.com/q/4848607/211081

Could you try the following and let me know if it resolves your issue?
`echo ref: refs/heads/master > .git/HEAD`

[2018-05-21 22:58] psykzz commented on #24
I took a stab myself, but didn't get to fix the issue with the empty lines, instead I just opt to hide those lines
https://github.com/psykzz/st3-gitblame/pull/27 is open for review
http://g.recordit.co/Ql9zKjWMsR.gif

[2018-05-23 08:14] psykzz commented on #25
Any luck @maulikfojdar?

[2018-05-23 14:40] pvanb opened #29 "Author/commiter names with more than one space not being parsed correctly"
As an example:
<img width="617" alt="screen shot 2018-05-23 at 10 26 30 am" src="https://user-images.githubusercontent.com/823278/40430764-d930e900-5e73-11e8-906f-8c147517de3f.png">

It should read:
**Git Blame** (Peter van Broekhoven) 2018-05-14 | b2d8b444 [Copy] [Show] ×

Using the ``-p`` (``--porcelain``) option I think would provide the output in a more parsable format (not sure if there's a p

[2018-05-23 15:39] maulikfojdar commented on #25
No that is not the issue. I have used that thread a long time back. My git blame is not working since 2-3 months now. There is no HEAD ref issue here. And my colleagues are also facing the same issue since a long time.

So I did change my configuration some time back. I code on sublime in OSX but the git repo is in a headless VM which I have mounted on my OSX. I wonder if that is the source of thi

[2018-05-24 08:56] psykzz commented on #29
This will actually get fixed if #27 is merged.

We had a better regex for showing the blame for the entire file and i refactored so we use the same regex for all blames.

[2018-05-24 08:59] psykzz commented on #25
You may have some `.bash_profile` scripts help it to work locally which are not being picked up by Sublime?

Honestly, I'm not sure of the solution.

[2018-06-04 21:06] drbartling opened #30 "Git Blame not working on Sublime Text 3 in Windows"
I get the following error:
[code]

I'll note that other sublime plugins work (like git gutter and git)  and others do not (like SublimeGit).

It appears the main difference is the path that gets passed to the git command

[2018-06-06 15:41] psykzz commented on #30
Thanks for the report,

Few questions,

- How incorrect is the path?
- Is it malformed like `C:\Users\C:\Users\<path_to_file>\<file_name>`

I suspect the path is wrong as you pointed out, just need to know how bad its wrong.

[2018-06-08 17:16] drbartling commented on #30
It's using the correct absolute path.  I suspect it would work using a relative path.

[2018-06-08 17:22] drbartling commented on #30
Git blame: git error 128:
fatal: no such path 'src/C:\Users\rybartli\Documents\git_tmp\debounced_button\src\debounced_button.h' in HEAD

[2018-06-26 21:36] drbartling commented on #30
Is there any more information you need?

[2018-08-29 08:30] YYCoder opened #32 "Unexpected error: [Errno 20] Not a directory"
I get this error while using Git Blame, last week it works just fine. I'm not sure what I have done to cause this situation. Using git blame on terminal works fine.

Environment：OS X 10.13.6

git status log like this:

[code]

[2018-09-19 19:27] dtardoin opened #33 "No output when "git blame" is run."
When I run the "git blame" command there's no UI indication, but this exception is thrown in the console:
`Git blame: Unexpected error: 'NoneType' object is not subscriptable`

Git Blame Version: v1.1.3
Sublime Version: 3.1.1
OS: Ubuntu 18.04

[2019-01-06 22:30] peterkos commented on #33
I'm having the same issue on macOS 10.14.2, ST 3.1.1.

Interestingly, I only get this issue when trying to blame a single line. It works fine when I attempt to blame all lines in the file.

More error logs for reference: (edited slightly for clarity)
[code]

[2019-02-15 10:27] psykzz opened #35 "Owner wanted"
Hey,

As you may have noticed the number of issues with this project have been rising recently and i haven't had the time to fix any of them, another reason being that I have moved away from using Sublime text daily and haven't been keeping myself up to date.

That said, I'm looking for someone else who wants to own and/or maintain this project going forward.

Please feel free to reach out to me h

[2019-03-25 15:05] frou commented on #35
Matt - I'd be happy to do so. I anticipate being Sublime-4-Lyfe, and have made a decent number of merged PRs so far:

* #9
* #13
* #14
* #22
* #23
* #26

[2019-03-29 11:35] psykzz commented on #35
Great @frou! How would you like to proceed?

The package is registered in the package control over at https://github.com/wbond/package_control_channel/blob/master/repository/g.json#L466-L476

If you like, I can just add you as a collaborator on this repo and you can work out the migration plan to another repo later, if you'd prefer that?

[2019-03-29 12:00] frou commented on #35
I haven't done this before, but it sounds like these days GitHub's repository transfer feature is very smart and, among other things, creates redirects for everything:

https://help.github.com/en/articles/transferring-a-repository

If we use that then I will delete my existing fork beforehand.

[2019-03-29 15:37] psykzz commented on #35
I think you'll need to update the package control repo first, otherwise you wont be able to publish updates, once you're ready though let me know ill transfer it.

[2019-03-30 14:26] frou commented on #33
@dtardoin I played around and found that I could reproduce that when asking for blame on a file that had never been saved to disk (i.e. File > New File , then run the Blame command). Is that the scenario you had?

@peterkos It looks like the unix command [unexpand](https://linux.die.net/man/1/unexpand) is somehow involved in your git setup (maybe via a `.gitconfig` file somewhere?) The unmangled v

[2019-03-30 15:19] frou commented on #35
Yep, I guess this is what we want to aim for:

* No disruption to users who already have it installed.
* Minimal duration during which new users are unable to install it.
* The only issue tracker lives under `github.com/frou/st3-gitblame` and includes all historical issues.

GIven that master on my old fork diverged a bit from your repo's master, I think the following is the way to go:

1. I delet

[2019-04-01 09:07] psykzz commented on #35
@frou Sounds great.

[2019-04-01 15:24] peterkos commented on #33
Yep, that was it! I left a spare configuration option that didn't quite work, and that was causing the issue. All good now!

[2019-04-06 19:37] frou commented on #35
That's Package Control updated. Let me know when you're around to do the last part and I'll notice on my phone. Should only take a couple of minutes if it goes smoothly!

[2019-04-07 12:45] psykzz commented on #35
@frou i'm around all of today to do the change, let me know a time that suits you as well.

[2019-04-07 13:04] frou commented on #35
I just deleted my fork, so you should be able to start the transfer

[2019-04-07 14:02] psykzz commented on #35
Doing it now.

[2019-04-07 14:07] psykzz commented on #35
Looks completed! Congrats! and thank you for taking over!

[2019-04-07 14:12] frou commented on #35
Cheers!

[2019-04-07 14:12] #35 closed

[2019-04-16 20:23] frou commented on #30
@drbartling A new version (1.1.4) has been released on Package Control that might resolve this. Could you please try it?

[2019-04-20 18:40] frou opened #36 "The phantom overflows past the [x] button when word_wrap is enabled"
![Screenshot 2019-04-20 at 19 37 12](https://user-images.githubusercontent.com/172663/56461026-fbfd2080-63a3-11e9-8411-0a3f4131d525.png)

[2019-04-20 18:42] frou opened #37 "Check to see if there is improved CSS to plunder"
The CSS we use for the phantoms was taken from `exec.py` in Sublime's `Default` package. Has that been improved in the meantime?

REF: https://github.com/frou/st3-gitblame/commit/8fdd572a0ac7fcfb5608ca184ec268cbc71c6b52

[2019-04-20 18:46] frou opened #38 "Create an issue template"
It's useful to know their ST/OS/Package versions, whether they installed this package using Package Control or a plain git clone, and how they installed git itself.

https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

[2019-04-25 19:45] frou opened #39 "Add more screenshots to the README"
Illustrate showing a commit in full with a diff, and showing the blame for all lines in the file.

This (and the existing screenshot) should be (re)taken while Sublime is running HiDPI so the text isn't fuzzy.

[2019-05-04 08:46] frou commented on #21
@jonasc I'm adding this feature. Would you say the following in a `.sublime-settings` file for this Git Blame package is accurate?

[code]
[code]

[2019-05-04 08:52] frou commented on #32
Has this error still been bothering you or was it just a one-off?

[2019-06-27 09:52] #32 closed

[2019-06-30 12:05] 0pdd opened #40 "Since we now use *InputHandlers, make a PR to package_control_channel to bump the minimum..."
The puzzle `21-1493e11a` from #21 has to be resolved:

https://github.com/frou/st3-gitblame/blob/183b169593749ebbe301ad878371d1ea7dcbeb34/commit_skipping.py#L52-L52

The puzzle was created by Duncan Holm on 30-Jun-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remove

[2019-06-30 12:05] 0pdd opened #41 "When presenting commit-skipping modes in the Command Palette, preselect the one currently in effect"
The puzzle `21-a3b5cdc3` from #21 has to be resolved:

https://github.com/frou/st3-gitblame/blob/183b169593749ebbe301ad878371d1ea7dcbeb34/commit_skipping.py#L59-L59

The puzzle was created by Duncan Holm on 30-Jun-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remove

[2019-06-30 12:05] 0pdd opened #42 "Move the HTML/CSS templates to a separate source file."
The puzzle `0-464c449e` from #0 has to be resolved:

https://github.com/frou/st3-gitblame/blob/183b169593749ebbe301ad878371d1ea7dcbeb34/blame.py#L17-L17

The puzzle was created by Duncan Holm on 30-Jun-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the

[2019-06-30 12:05] 0pdd opened #43 "Factor out loading of the commit-skipping mode so that BlameShowAllCommand can use it too."
The puzzle `21-aeb99a62` from #21 has to be resolved:

https://github.com/frou/st3-gitblame/blob/183b169593749ebbe301ad878371d1ea7dcbeb34/blame.py#L126-L126

The puzzle was created by Duncan Holm on 30-Jun-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from

[2019-06-30 12:05] 0pdd opened #44 "Move BlameShowAllCommand to its own source file"
The puzzle `0-ab198b1b` from #0 has to be resolved:

https://github.com/frou/st3-gitblame/blob/183b169593749ebbe301ad878371d1ea7dcbeb34/blame.py#L238-L238

The puzzle was created by Duncan Holm on 30-Jun-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from th

[2019-06-30 12:05] 0pdd opened #45 "Move the utility functions to their own source file."
The puzzle `0-6d3c3a33` from #0 has to be resolved:

https://github.com/frou/st3-gitblame/blob/183b169593749ebbe301ad878371d1ea7dcbeb34/blame.py#L394-L394

The puzzle was created by Duncan Holm on 30-Jun-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from th

[2019-06-30 12:43] #45 closed

[2019-06-30 12:43] 0pdd commented on #45
The puzzle `0-6d3c3a33` has disappeared from the source code, that's why I closed this issue.

[2019-06-30 13:37] 0pdd commented on #42
The puzzle `0-464c449e` has disappeared from the source code, that's why I closed this issue.

[2019-06-30 13:37] #42 closed

[2019-06-30 13:37] 0pdd commented on #44
The puzzle `0-ab198b1b` has disappeared from the source code, that's why I closed this issue.

[2019-06-30 13:37] #44 closed

[2019-06-30 14:34] 0pdd commented on #43
The puzzle `21-aeb99a62` has disappeared from the source code, that's why I closed this issue.

[2019-06-30 14:34] #43 closed

[2019-06-30 14:35] 0pdd opened #46 "Factor out loading of the commit-skipping mode so that the BlameShowAll command can use it too."
The puzzle `21-043a8f06` from #21 has to be resolved:

https://github.com/frou/st3-gitblame/blob/320458e8f0e8c85343e5835cca0d80e46d41f9da/src/blame.py#L31-L31

The puzzle was created by Duncan Holm on 30-Jun-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fro

[2019-06-30 14:35] 0pdd opened #47 "Add a Key Bindings entry to the Settings menu that opens a 2-column editor..."
The puzzle `0-8a291d47` from #0 has to be resolved:

https://github.com/frou/st3-gitblame/blob/320458e8f0e8c85343e5835cca0d80e46d41f9da/Menus/Main.sublime-menu#L27-L27

The puzzle was created by Duncan Holm on 30-Jun-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-07-01 08:46] frou commented on #33
I can only assume that the original issue reported here was fixed by #26

[2019-07-01 08:46] #33 closed

[2019-07-01 09:16] 0pdd commented on #47
The puzzle `0-8a291d47` has disappeared from the source code, that's why I closed this issue.

[2019-07-01 09:16] #47 closed

[2019-07-17 12:58] shyhsheng opened #48 "The context menu of st3 is disable"
Hi ,

My ST3 version is 3.2.1 Build 3207.
The context menu always disable that I can't use it.
![P_20190717_205619](https://user-images.githubusercontent.com/6959408/61377294-81c23680-a8d5-11e9-999e-cc90fe5c933f.jpg)

thanks

[2019-07-17 13:15] #48 closed

[2019-07-17 13:28] frou commented on #48
Did you get it working? I was going to ask if there are any errors in the console when Sublime starts up (View > Show Console), and also if the "Git Blame" command is shown in the command palette (Tools > Command Palette)

[2019-08-28 09:40] frou opened #49 "Write a changelog to be presented by Package Control"
https://packagecontrol.io/docs/messaging

Use this as an opportunity to solicit feedback from Linux users regarding whether the [current Linux keyboard shortcuts](https://github.com/frou/st3-gitblame/blob/master/Keymaps/Default%20(Linux).sublime-keymap) are appropriate, since I have no idea whether they conflict with global keyboard shortcuts already used by GNOME/KDE/etc.

[2019-11-01 12:02] 0pdd opened #50 "Add a [Prev] button to the phantom, that causes it to reflect the previous commit that changed..."
The puzzle `0-6c89ef62` from #0 has to be resolved:

https://github.com/frou/st3-gitblame/blob/8cb638d5f4c50c04be21fa4a13a8748b81a72d6c/src/blame.py#L15-L16

The puzzle was created by Duncan Holm on 01-Nov-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from

[2019-11-19 15:12] frou commented on #37
Answer: No it hasn't

[2019-11-19 15:12] #37 closed

[2019-11-19 15:13] #30 closed

[2019-11-20 11:34] #40 closed

[2019-11-20 11:34] 0pdd commented on #40
The puzzle `21-1493e11a` has disappeared from the source code, that's why I closed this issue.

[2020-08-01 16:02] frou commented on #41
Not gonna release "Commit Skipping Mode" because it's overly fiddly. Will do #50 instead.

[2020-08-01 16:02] #41 closed

[2020-08-01 16:02] frou commented on #46
Not gonna release "Commit Skipping Mode" because it's overly fiddly. Will do #50 instead.

[2020-08-01 16:02] #46 closed

[2020-08-01 17:05] todo[bot] opened #53 "Once on ST4 and using Python 3.8 for this packge, stop ignoring flake8 FS002"
https://github.com/frou/st3-gitblame/blob/3469d63027121d59addc85c9007bb61971326942/.flake8#L14

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 3469d63027121d59addc85c9007bb61971326942. It&#x27;s been assigned to @frou because they committed the code.

[2020-08-01 17:05] todo[bot] opened #54 "Delete the in-package mypy.ini file once I'm using Python 3.8 in this package."
https://github.com/frou/st3-gitblame/blob/3469d63027121d59addc85c9007bb61971326942/.mypy.ini#L3-L8

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 3469d63027121d59addc85c9007bb61971326942. It&#x27;s been assigned to @frou because they committed the code.

[2020-08-02 09:53] #50 closed

[2020-08-02 10:37] todo[bot] opened #55 "Fix 2 key presses being needed to show a phantom again after closing it was clos..."
https://github.com/frou/st3-gitblame/blob/fd929cd7792424dea9c309882afc713c0a863d2b/src/blame.py#L148-L151

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in fd929cd7792424dea9c309882afc713c0a863d2b. It&#x27;s been assigned to @frou because they committed the code.

[2020-08-02 12:45] #55 closed

[2020-08-02 18:26] #21 closed

[2020-08-02 18:28] #25 closed

[2020-08-09 11:02] #49 closed

[2020-08-09 11:22] frou commented on #38
Done

[2020-08-09 11:22] #38 closed

[2020-08-09 12:41] #39 closed

[2020-09-12 10:49] todo[bot] opened #57 "Make a command to open the latest diff ("CommitDescription") for the current lin..."
Currently it takes a keystroke and then a mouse click on &quot;Show&quot;

---

https://github.com/frou/st3-gitblame/blob/261bd8ba0846dee7a22ad8791784c27f53e30148/src/blame.py#L12-L17

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 261bd8ba0846dee7a22ad8791784c27f53e30148. It&#x27;s been assigned to @frou because they committed the code.

[2020-11-09 18:55] z-aki opened #58 "Support --ignore-revs which uses a file with revisions listed (usually named .git-blame-ignore-revs)"
Git blame added support for option `ignore-revs`. It would be great if this package can support this flag so that users can specify it in settings file and use the file which their projects provide.

[2020-11-09 19:56] frou commented on #58
That sounds reasonable. Is it a universal enough convention that such a file is always at the root of the git repo?

[2020-11-09 20:04] z-aki commented on #58
Thanks for the prompt response!
Yes that's what I've seen in several GitHub repos.
Also consider reading value from git config, since the file doesn't take effect until you set that option. Or pass it explicitly (which is painful).
See for example https://reviews.llvm.org/D67145

[2020-11-09 20:34] frou commented on #58
After cloning some repo, I imagine hardly anyone either knows, or takes the time, to set the git config option?

If this package can find the file, I'd be inclined to be presumptuous and go ahead and use it. i.e. be opt-out rather than opt-in.

[2020-11-09 20:47] z-aki commented on #58
Don't know about others, but we have mentioned it in developer documents. :)
Opt-out is easy too. Add a command line option `--ignore-revs=""` which nullifies all previously parsed SHAs (whether from the file, or from command line).

[2021-02-14 08:30] ElectricRCAircraftGuy opened #59 "How can I set the width of the left-hand column when I do the Ctrl + Shift + C (on Linux) view? (please don't shorten/hide stuff with `...`)"
Notice how my name is shortened with `...`? I'd like that left-hand column wider so I can see it all. How can I do this? If I can't, can you please make that a setting or option somehow please?

![image](https://user-images.githubusercontent.com/6842199/107871997-a852a580-6e5b-11eb-9f13-db54042ee690.png)

Currently I'll just stick to regular `git blame` opened up in Sublime Text with my `git blame

[2021-02-14 14:41] frou commented on #59
Yep, that's a valid point.

It does that because when there are multiple different names, they all have to be made the same fixed length so that the rest of the content in the lines will be aligned.

But obviously a more correct way to achieve the same goal is to detect the length of the longest name and right-pad the other names up to that length. I'll make that change in the next version.

[2021-02-14 19:14] ElectricRCAircraftGuy commented on #59
@frou, awesome. Thank you.

I've added your plugin to my list of plugins I'm evaluating: https://github.com/ElectricRCAircraftGuy/eRCaGuy_dotfiles/tree/master/Sublime_Text_editor (isn't on there now--will be pushed to that repo later).

One more thing: I'd like to be able to select and copy text from the git blame output, so I can easily copy the hash and check it out or look at its log at the com

[2021-02-16 21:39] todo[bot] opened #60 "Add tests for parse_blame function, to avoid regressions when then improving it"
https://docs.python.org/3.9/library/unittest.html

---

https://github.com/frou/st3-gitblame/blob/2095c80f33fdd6f119ef5e8870bcc9bf83a67be9/src/blame.py#L121-L125

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 2095c80f33fdd6f119ef5e8870bcc9bf83a67be9. It&#x27;s been assigned to @frou because they committed the code.

[2021-02-20 14:32] #59 closed

[2021-02-20 14:32] todo[bot] opened #61 "BlameAll: Automatically scrolling the view to the left doesn't work when the ST ..."
https://github.com/frou/st3-gitblame/blob/eb797e3f7f6f01b4f310432e15031857ae7332e8/src/blame_all.py#L78-L81

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in eb797e3f7f6f01b4f310432e15031857ae7332e8. It&#x27;s been assigned to @frou because they committed the code.

[2021-02-20 14:50] frou commented on #59
Gabriel - this is implemented now (but not released yet since I'll be putting more than one change into the next version of this package)

<img width="832" alt="Screenshot 2021-02-20 at 14 29 24" src="https://user-images.githubusercontent.com/172663/108599408-d9196a00-7388-11eb-91ee-4f8d2db196dd.png">

---

As you probably know, that is already possible using the `Git Blame: Show` feature for sing

[2021-02-20 19:54] #60 closed

[2021-02-20 20:24] todo[bot] opened #62 "Consolidate the CLI parsing regex into a single string (use r"""(?x)""") and use..."
https://github.com/frou/st3-gitblame/blob/caa781d29af4fc63295186507adbd795377d0e47/src/blame_all.py#L101-L104

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in caa781d29af4fc63295186507adbd795377d0e47. It&#x27;s been assigned to @frou because they committed the code.

[2021-02-21 21:25] #29 closed

[2021-02-21 21:25] #62 closed

[2021-02-22 13:48] todo[bot] opened #63 "Disable view rulers while BlameAll phantoms are visible"
Because they don&#x27;t make sense while a big blob of phantoms are horizontally offsetting the user&#x27;s code.

---

https://github.com/frou/st3-gitblame/blob/52e643b1e329bff22349a448abb964fec818ec86/src/blame_all.py#L10-L15

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 52e643b1e329bff22349a448abb964fec818ec86. It&#x27;s been assigned to @

[2021-02-23 10:39] frou commented on #53
Closing since I don't think there'll be a legitimate reason to make this package ST4 (i.e. Python 3.8) exclusive in the short to medium term.

[2021-02-23 10:39] #53 closed

[2021-02-23 10:53] frou commented on #54
Closing since I don't think there'll be a legitimate reason to make this package ST4 (i.e. Python 3.8) exclusive in the short to medium term.

[2021-02-23 10:53] #54 closed

[2021-02-28 17:39] #63 closed

[2021-02-28 17:39] #61 closed

[2021-02-28 18:24] frou commented on #59
The new version including this change was just released. I think it normally takes an hour or two to propagate to the PackageControl system.

[2021-04-20 21:52] lswainemoore commented on #58
@frou is this actively in progress? i'd be willing to have a go at it if not.

[2021-04-20 22:24] frou commented on #58
@lswainemoore Nope, IIRC I got a bit confused when thinking about it, because @z-aki's use case (where the user explicitly sets a git-config variable in a repo, presumably by running something like `git config --local --add blame.ignoreRevsFile .git-blame-ignore-revs`) already seems to influence this Sublime plugin fine without any changes required.

You're welcome to think about the different use

[2021-04-21 00:03] lswainemoore commented on #58
oh nice! i actually hadn't tried it yet, so if that works, good enough for me. thanks!

[2021-04-21 08:57] frou commented on #58
Just a brain dump:

There could be a new setting in this package called either `"auto_discover_ignorerevs_file"` (default `false`), or `"ignorerevs_file"` (default `""`). The latter would be more flexible since it's not guaranteed that such a file always uses the conventional `.git-blame-ignore-revs` name ([example](https://github.com/microsoft/accessibility-insights-web/blob/master/.ignoredRevs))

[2021-05-04 19:52] z-aki commented on #58
I filed the report because I had added the ignore rev command line option to the appropriate setting in preferences. And the plugin had some issues working after that. I'll try to redo it tomorrow.

[2021-05-06 08:26] glenscott opened #64 "Git blame fatal error"
* Sublime Text version:
    * Build 3211

* How did you install this package?:
    * Package Control

* Operating System and version:
    * macOS 11.3

* How did you install git itself?
    * already came with my OS

When I try and use Git Blame, I am getting the following prompt from Sublime:

[code]

Up until last week, I have been using the package without any problems.  I have uninstalled and

[2021-05-06 08:59] frou commented on #64
Seems like something somewhere is getting confused about the working directory.

If you open Terminal and `cd` to the directory where `AutoImport.php` is, and then run the following command manually, does that work?

`git blame --show-name --minimal -w -L 40,40 -- AutoImport.php`

[2021-05-06 10:59] glenscott commented on #64
Yes, that command works

[2021-05-07 10:15] frou commented on #64
If you have that file open in ST, then open the console (ctrl-`) and run the following:

`import os; os.path.dirname(os.path.realpath(view.file_name()))`

Does that show the path you'd expect as the containing directory of that file? Anything odd about it?

[2021-05-10 10:19] glenscott commented on #64
@frou I appreciate the time you are spending helping me with this issue.  I ran the command in the console, and it output the correct path for the file.

[2021-05-10 10:34] frou commented on #64
No worries. Something I noticed was when I artificially created a situation to get that error was that I got a slightly different error message:

`fatal: not a git repository (or any of the parent directories): .git`

The parenthesised bit on the end isn't in your error message. Maybe your git configuration has been changed to be more strict or something?

[2021-05-29 07:04] #58 closed

[2021-05-29 08:43] frou opened #65 "Add a new "ignorerevs_files" setting"
There could be a new setting in this package called either `"auto_discover_ignorerevs_file"` (default `false`), or `"ignorerevs_file"` (default `""`). The latter would be more flexible since it's not guaranteed that such a file always uses the conventional `.git-blame-ignore-revs` name ([example](https://github.com/microsoft/accessibility-insights-web/blob/master/.ignoredRevs)). In either case the

[2021-06-06 10:28] #24 closed

[2021-06-06 11:17] todo[bot] opened #67 "Add a Development section to the README with tips for contributors"
Because of the layout of the package (single &quot;plugin&quot;, &#x60;boot.py&#x60;, and the result of the code in &#x60;src/&#x60;) it&#x27;s recommended to use https://packagecontrol.io/packages/AutomaticPackageReloader so that changes you make during development get picked up without needing to restart ST. Try to format the Python code using https://github.com/psf/black. Be mindful of ST API v

[2021-06-06 11:27] todo[bot] opened #68 "Support showing inline blame for multiple carets?"
Maybe with a sanity check that there aren&#x27;t too many (more than 10?)

---

https://github.com/frou/st3-gitblame/blob/b687f1e0e767614e3a84b9a2a488bcc666618636/src/blame_inline.py#L43-L47

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in b687f1e0e767614e3a84b9a2a488bcc666618636. It&#x27;s been assigned to @frou because they committed the code.

[2021-11-05 18:35] yamoinza commented on #25
I just figured out why this started happening to me in one of my workspaces...
I found an "extraneous" .git folder in the hierarchy to the current file.
Note that in my case at least, the command that is shown as failing does not include the complete path, just the filename itself. If I did a git blame at the root of the workspace with the path to the file then blame worked.
but if I cd-ed to the

[2021-12-05 10:35] todo[bot] opened #69 "Fix inline blame (sometimes?) remaining enabled when the user setting for it is ..."
https://github.com/frou/st3-gitblame/blob/bbd280c4c255ce959c1f56b2aec6430800633d2c/src/blame_inline.py#L20-L23

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in bbd280c4c255ce959c1f56b2aec6430800633d2c. It&#x27;s been assigned to @frou because they committed the code.

[2021-12-05 18:50] #69 closed

[2021-12-06 10:18] todo[bot] opened #70 "Add a test for the `parse_line_with_relative_date` function in test_parsing.py"
https://github.com/frou/st3-gitblame/blob/ba973acb1f75ef50849bdd19825e9476e59c4a35/src/base.py#L66-L69

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in ba973acb1f75ef50849bdd19825e9476e59c4a35. It&#x27;s been assigned to @frou because they committed the code.

[2021-12-07 11:50] #57 closed

[2022-01-29 22:20] frou commented on #65
https://git-scm.com/docs/git-blame#Documentation/git-blame.txt---ignore-revs-fileltfilegt

[2022-07-10 09:48] heshiweij opened #71 "Unavailable in "Package Control" now?"
I can't search "Git Blame" in package control!
![image](https://user-images.githubusercontent.com/5785421/178139653-3ccc2268-db5b-41c4-9fed-7149ce35a58f.png)

[2022-07-10 10:06] frou commented on #71
It is still available. Maybe your version of Sublime Text is too outdated (the package requires ST3 build 3170 or higher) or even you already have the package installed?

[2022-07-12 03:15] heshiweij commented on #71
Ok, my  ST is too outdated. Thx  :)
![image](https://user-images.githubusercontent.com/5785421/178400777-aadd9b9e-c568-4a03-bb38-f527d6ef6cb4.png)

[2022-07-12 03:15] #71 closed

[2022-10-16 08:07] preiter93 opened #72 "Formatting when author name contains brackets"
* Sublime Text version:
    * 4123

* How did you install this package?:
    * Manually downloaded

* Operating System and version:
    * macOS 12.6

* How did you install git itself?
    * already came with my OS

Hi,

if the author name contains brackets, the regex matching fails. Say, the authorname is `Lastname, Firstname (External)` parsing the git blame output
[code]
gives
[code]

I get corr

[2022-10-17 10:43] frou commented on #72
Thank you for the report. I think I can fix this by making the file part of the regex non-greedy, i.e. ending with `+?` instead of `+`. I will add another unit test based on your example.

[2022-10-17 14:15] preiter93 commented on #72
That would be perfect, thx!